p {
    margin-right: 1rem;
}

h3 {
    margin: 0;
}

.scroll {
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    cursor: pointer;
    margin-top: 2rem;
}
.login, .imgGen {
    width: 22rem; 
    border-radius: 10px;
    margin: 3rem auto 0;
    padding: 3.5rem 1.5rem;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
}
.grid-box {
    width: 315px;
    height: 315px;
    border: 1px solid #ffffff85;
}

.dropdown-ip {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
}

.inputFeilds{
    color: white !important;
    background-color: transparent !important;
}


label{
    color: white !important;
}