.navBar{
    width: 15%;
    min-width: 10rem;
    height: 100vh;
    align-items: center;
    padding-block:4rem ;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}

.navBar-hamB{
    display: none;
    transition-duration: 300ms;
}

.navBar-hamMenu{
    gap:9rem;
}

.navBar-hamMenuLabels{
    display: none;
}

.navBar-iconTray{
    align-items: center;
    gap: 3.5rem;
}

.navBar-teamDetails{
    align-items: center;
    gap: 1rem;
}

@media (max-width: 35rem){
    .navBar-hamB{
        display: block;
        background-color: transparent;
        border: none;
    }
    .navBar{
        width: 100%;
        height: 7vh;
        padding: 0;
    }
    .navBar-top{
        width: 100%;
        background-color: rgba(31, 32, 56, 0.46);
        padding: 1rem;
        z-index: 10;
        flex-direction: row;
        justify-content: space-between;
    }
    .navIcons{
        display:none;
    }
    .navBar-hamMenu{
        transform: translateY(-130%);
        width: 100%;
        align-items: center;
        transition-duration: 600ms;
        background-color: #090909dd;
        padding-block: 1rem ;
        gap:1rem;
    }
    .navBar-iconTray{
        gap:1rem;
        z-index: -100;
    }
    .navBar-hamMenuLabels {
        display: block;
        text-align: center;
    }
}