.homewrapper{
    padding: 2rem 1rem;
}
.home {
    z-index: -10;
    gap: 1.5rem;
}

@media (min-width:35rem) {
    .homewrapper{
        width: 85%;
    }
    .home{
        background-color: #00000025;
        border: 1px solid #ffffff85;
        padding: 9rem;
        gap: 3rem;
        border-radius: 15px;
    }
}